<ion-header>
  <ion-toolbar>
    <ion-title>principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio fugit ab tenetur corporis illum error incidunt labore nesciunt! Vel debitis vero repudiandae assumenda consequatur error corporis nulla expedita esse recusandae!</p>
      </ion-col>
      <ion-col size="6">
        <img src="" alt="imagen nosotros">
      </ion-col>
    </ion-row>
    <ion-row>
      <h2>Ultimos Productos</h2>
      <ion-col size="6">
        <ion-card>
          <ion-card-content>
            Ultimos prpductos
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>subtitulo noticia</ion-card-subtitle>
            <ion-card-title>Titulo de la noticia</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            contenido noticia
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <h2>Suscripcion newLetter</h2>
        <form id=formId (ngSubmit)="suscripcion()" #refForm="ngForm">
          <ion-item>
            <ion-label>Nombre</ion-label>
            <ion-input type="text" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Correo</ion-label>
            <ion-input type="email"></ion-input>
          </ion-item>
        </form>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        Contacto
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
